{% extends "layout.twig" %}

{% block content %}

 <form action="../jobs/add" method="post">
            <h1>Add Job</h1>
            <label for="">Title:</label>
            <input type="text" name="title"><br/>
            <label for="">Description:</label>
            <input type="text" name="description"><br/>
            <button type="submit">Save</button> 
        </form>

{% endblock %}