{% extends "layout.twig" %}

{% block content %}
    <h1>Add User</h1>

    {% if responseMessage %}
        <div class="alert alert-primary" role="alert">
            {{ responseMessage }}
        </div>
    {% endif %}

    <form action="../users/add" method="POST">
        <label for="">Username:</label>
        <input type="text" name="username"></br>
        <label for="">Email:</label>
        <input type="text" name="email"></br>
        <label for="">Password:</label>
        <input type="password" name="password"></br>
        <button type="submit">Save</button>
    </form>
{% endblock %}