{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/cursophp/users/add">Add User</a></li>
    <li><a href="/cursophp/jobs/add">Add Job</a></li>
</ul>
<br><br>
<a href="logout">Logout</a>
{% endblock %}